// Typography
$size-1-tiny: 0.75rem
$size-2-tiny: 0.65rem
$size-3-tiny: 0.55rem
$size-4-tiny: 0.45rem
$size-5-tiny: 0.35rem
$size-6-tiny: 0.25rem
$size-7-tiny: 0.15rem

$size-1-jumbo: 9rem
$size-2-jumbo: 8rem
$size-3-jumbo: 7rem
$size-4-jumbo: 6rem
$size-5-jumbo: 5rem
$size-6-jumbo: 4rem
$size-7-jumbo: 3rem

$size-tiny: $size-4-tiny
$size-jumbo: $size-4-jumbo

$sizes-tiny: $size-1-tiny, $size-2-tiny, $size-3-tiny, $size-4-tiny, $size-5-tiny, $size-6-tiny, $size-7-tiny
$sizes-jumbo: $size-1-jumbo, $size-2-jumbo, $size-3-jumbo, $size-4-jumbo, $size-5-jumbo, $size-6-jumbo, $size-7-jumbo

// Printing
$print-1-tiny: 8.5pt
$print-2-tiny: 7.5pt
$print-3-tiny: 6.5pt
$print-4-tiny: 5pt
$print-5-tiny: 4pt
$print-6-tiny: 3pt
$print-7-tiny: 2pt

$print-1-jumbo: 200pt
$print-2-jumbo: 150pt
$print-3-jumbo: 125pt
$print-4-jumbo: 100pt
$print-5-jumbo: 75pt
$print-6-jumbo: 50pt
$print-7-jumbo: 33pt

$print-tiny: $print-4-tiny
$print-jumbo: $print-4-jumbo

$prints-tiny: $print-1-tiny, $print-2-tiny, $print-3-tiny, $print-4-tiny, $print-5-tiny, $print-6-tiny, $print-7-tiny
$prints-jumbo: $print-1-jumbo, $print-2-jumbo, $print-3-jumbo, $print-4-jumbo, $print-5-jumbo, $print-6-jumbo, $print-7-jumbo

// Miscellaneous

$radius-tiny: 1px
$radius-jumbo: 8px

// Specific elements

$icon-dimensions-tiny: 0.50rem
$icon-dimensions-jumbo: 4rem

$hero-body-padding-tiny: 0.5rem
$hero-body-padding-jumbo: 72rem 7.5rem

$section-padding-tiny: 4.2rem 2.25rem
$section-padding-jumbo: 27rem 7.5rem

$spacing-shortcuts: ("margin": "m", "padding": "p") !default
$spacing-directions: ("top": "t", "right": "r", "bottom": "b", "left": "l") !default
$spacing-horizontal: "x" !default
$spacing-vertical: "y" !default
$spacing-values-tiny: ("1": 0.025rem, "2": 0.05rem, "3": 0.10rem, "4": 0.15rem, "5": 0.20rem, "6": 0.25rem) !default
$spacing-values-jumbo: ("1": 3rem, "2": 3.5rem, "3": 4rem, "4": 5rem, "5": 6rem, "6": 7rem) !default

$border-shortcuts: ("border": "b") !default
$border-directions: ("top": "t", "right": "r", "bottom": "b", "left": "l") !default
$border-horizontal: "x" !default
$border-vertical: "y" !default
$border-values-tiny: ("0": 0px, "1": 0.1px, "2": 0.15px, "3": 0.2px, "4": 0.25px, "5": 0.3px, "6": 0.35px, "7": 0.4px, "8": 0.5px) !default
$border-values-jumbo: ("0": 0px, "1": 4px, "2": 5px, "3": 6px, "4": 7px, "5": 8px, "6": 9px, "7": 10px, "8": 15px) !default
